@import url("https://fonts.googleapis.com/css2?family=Gentium+Book+Plus&family=Open+Sans:wght@400;700&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --white: #ffffff;
  --blue: #050542;
  --green: #66e5bf;
  --purple: #a675f5;
  --lavender-dark: hsl(263, 86%, 60%);
  --attention-background: #05054233;
  --call-to-action: #fffc86;
  --rounded: 0.5rem;
  --pilled: 2rem;
  --shadow: 0.3rem;
  --radius: 1em;
}

body {
  position: relative;
  display: grid;
  place-items: center;
  margin-top: 4em;
  font-family: "Open Sans", sans-serif;
  background-color: var( --blue);
  /* width: em; */
  overflow-x:hidden;
}
a {
  text-decoration: none;
}
ul{
  list-style: none;
}
footer{
  background-color: var(--lavender-dark);
}
@media (min-width: 70em) {
  body {
    position: relative;
    display: grid;
    place-items: center;
    margin-top: 4em;
    font-family: "Open Sans", sans-serif;
    background-color: var( --blue);
    width: 96em;
    overflow-x:hidden;
  }
  
}