.list-itemsPc {
  display: none;
}
@media (min-width: 70em) {
  .list-itemsPc{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: .5em;
    /* width: 47.5em; */
    font-size: larger;
    font-weight: bold;
  }
  
  /* .list_img{
     font-size:small;
    font-weight:100;
  } */

  .nav-link {
    color: var(--blue);
    text-decoration: none;
  }
  .active-link {
    color: var( --purple);
  }
  .active-link:active {
    color: var(--purple);
  }
}
