.Home_Third {
  width: 45em;
  margin-top: 3em;
  margin-bottom: 3em;
  background-color: var(--green);
  border-radius: var(--rounded);
}
/* title */
.Home_Third_title {
  padding: 0 1rem 0.7rem 1rem;
  position: relative;
  width: fit-content;
  font-size: calc(1.2rem + 1.4vw);
  line-height: calc(1.4rem + 1.3vw);
  color: white;
  background: var(--blue);
  border-bottom-right-radius: 5px;
  z-index: 2;
}
.Home_Third_title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 23;
  right: calc(-1 * var(--rounded));
  box-shadow: 0 calc(-1 * var(--rounded)) 0 0 var(--blue);
  background-color: transparent;
  width: var(--rounded);
  height: calc(2 * var(--rounded));
  border-top-left-radius: var(--rounded);
}
.Home_Third_title::after {
  content: "";
  position: absolute;
  bottom: -1rem;
  left: calc(0 * var(--rounded));
  box-shadow: 0 calc(-1 * var(--rounded)) 0 0 var(--blue);
  background-color: transparent;
  width: var(--rounded);
  height: calc(2 * var(--rounded));
  border-top-left-radius: var(--rounded);
}
/* finsh-title */
.Home_Third_container {
  padding: 2em;
}
.Home_Third_containt1 {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  gap: 0.5em;
  padding: 0.5em;
  border-radius: var(--rounded);
  border: 1px solid var(--blue);
}
.Home_Third_img1 {
  width: 13em;
  height: 11em;
  border-radius: var(--rounded);
}
.home_Third_conten1 {
  width: 60%;
}
.Home_Third_LinkContainar {
  display: grid;
  place-items: center;
  height: 9em;
}

.Home_Third_link1 {
  align-items: center;
  width: 8em;
  padding: 0.5em;
  background-color: var(--blue);
  color: var(--lavender-dark);
  border-radius: var(--rounded);
}
@media (min-width: 70em) {
  .Home_Third {
    width: 75em;
  }
  .Home_Third_containt1 {
    justify-content: space-between;
    align-items: flex-start;
    padding:.5em;
    gap: .2em;
  }
  .Home_Third_img1 {
    width: 15em;
    /* height: 1em; */
  }
  .home_Third_conten1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* width: 70%; */
  }
  .home_Third_primarytitle1{
    font-size: 1.3em;
    margin-bottom: .7em;
  }
  .Home_Third_LinkContainar {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* display: grid;
    grid-template-areas:
      "header header header"
      "sidebar main main"
      "footer footer footer"; */
     
    height: 11em;
  }
  .Home_Third_link1{
    grid-area: footer;
  }
}
