
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width:94.9375em; */
  min-height: 100vh;
  background-color: rgb(149, 214, 214);
}

.main h1{
  color: rgb(220, 220, 230);
}