.Home_Second {
  background-color: var(--green);
  width: 45em;
  margin-top: 3em;
  margin-bottom: 3em;
  border-radius: var(--rounded);
}
/* title */
.Home_Second_title {
  padding: 0 1rem 0.7rem 1rem;
  position: relative;
  width: fit-content;
  font-size: calc(1.2rem + 1.4vw);
  line-height: calc(1.4rem + 1.3vw);
  color: white;
  background: var(--blue);
  border-bottom-right-radius: 5px;
  z-index: 2;
}
.Home_Second_title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 23;
  right: calc(-1 * var(--rounded));
  box-shadow: 0 calc(-1 * var(--rounded)) 0 0 var(--blue);
  background-color: transparent;
  width: var(--rounded);
  height: calc(2 * var(--rounded));
  border-top-left-radius: var(--rounded);
}
.Home_Second_title::after {
  content: "";
  position: absolute;
  bottom: -1rem;
  left: calc(0 * var(--rounded));
  box-shadow: 0 calc(-1 * var(--rounded)) 0 0 var(--blue);
  background-color: transparent;
  width: var(--rounded);
  height: calc(2 * var(--rounded));
  border-top-left-radius: var(--rounded);
}
/* finsh-title */
.Home_Second_content {
  padding: 2em;
}
.homeSecond_img1 {
  width: 40.5em;
  border-radius: var(--rounded);
}
.homeSecond_img2 {
  width: 40em;
  border-radius: var(--rounded);
}
@media (min-width: 70em) {
  .Home_Second {
    background-color: var(--green);
    width: 75em;
    height:48em;
  }
  .Home_Second_content{
    display: flex;
    justify-content: space-between;
  }
  .home_Second_Section1{
    position: relative;
  }
  .homeSecond_img1{
    width: 35em;
  }
  .Home_Second_text1{
    position: absolute;
    top: 19em;
    left: 5em;
    background-color: var(--blue);
    color: var(--green);
    padding: 1em;
    width: 26.15em;
    height: 18em;
  }
  .home_Second_Section2{
    position: relative;
  }
  .Home_Second_text2{
    position: absolute;
    top: 5em;
    left: 4em;
    background-color: var(--blue);
    color: var(--green);
    padding: 1em;
    width: 26.1em;
    height: 17em;

  }
}
