.Home_First {
  width: 45em;
  margin-top: 2em;
  background-color: var(--green);
  color: var(--blue);
  border-radius: var(--rounded);
}
/* title */
.HomeFirst_primaryTitle {
  padding: 0 1rem 0.7rem 1rem;
  position: relative;
  width: fit-content;
  font-size: calc(1rem + 1.4vw);
  line-height: calc(1.4rem + 1.3vw);
  color: white;
  background: var(--blue);
  border-bottom-right-radius: 5px;
  z-index: 2;
}
.HomeFirst_primaryTitle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 23;
  right: calc(-1 * var(--rounded));
  box-shadow: 0 calc(-1 * var(--rounded)) 0 0 var(--blue);
  background-color: transparent;
  width: var(--rounded);
  height: calc(2 * var(--rounded));
  border-top-left-radius: var(--rounded);
}
.HomeFirst_primaryTitle::after {
  content: "";
  position: absolute;
  bottom: -1rem;
  left: calc(0 * var(--rounded));
  box-shadow: 0 calc(-1 * var(--rounded)) 0 0 var(--blue);
  background-color: transparent;
  width: var(--rounded);
  height: calc(2 * var(--rounded));
  border-top-left-radius: var(--rounded);
}

.homefirst_content {
  display: flex;
  flex-direction: column;
  padding: 2em;
  gap: 1em;
}
.homefirst_imag {
  width: 41em;
  height: 25em;
  border-radius: var(--rounded);
}
.homefirst_content p {
  font-size: 18px;
  line-height: 1.5em;
}
@media (min-width: 70em) {
  .Home_First {
    width: 75em;
  }
  .homefirst_imag {
    width: 30em;
    height: 25em;
    object-fit: contain;
  }
  .homefirst_content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .homefirst_content article p {
    padding-top: 2em;
    font-weight: bold;
  }
  .homefirst_text {
    width: 36.5em;
  }
}
