.main {
  width: 45em;
 border-left: 1px solid var(--green);
 border-right: 1px solid var(--green);
  background-color:transparent;
}
.Home_First h4{
  color: aliceblue;
}

@media (min-width: 70em){
  .main {
    width: 75em;
  }
 
}