.havFrontend {
  display: flex;
  justify-content: flex-start;
  margin-top: 0.5em;
  width: 45em;
  /* background-color: aliceblue; */
}
.havlogo {
  width: 100px;
  height: 35px;
}
.havFrontend .fdnd {
  border-left: 1px solid var(--white);
  padding-left: 1em;
  margin-left: 1em;
  font-size: 1em;
  color: var(--white);
}
/* Qoute */
.Quote_container{
  width: 45em;
  margin-top: 2em;
}
.Quote_text{
  font-size:1.3em ;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: var(--white);
}
@media (min-width: 70em) {
  .havFrontend {
    position: absolute;
    top: -3.5em;
    left: 0.9em;
    display: flex;
    justify-content: flex-start;
    margin-top: 0.5em;
    width: 75em;
    /* background-color: aliceblue; */
  }
  .havlogo {
    width: 150px;
    height: 40px;
  }
  .havFrontend .fdnd {
    border-left: 1px solid var(--white);
    padding-left: 1em;
    margin-left: 1em;
    font-family: "Open-sans", sans-serif;
    color: var(--white);
  }
  /* Qoute */
  .Quote_container{
    position: absolute;
    left: 0.9em;
  }
}
