.nav_pc {
  background-color: var(--green);
  width: 45em;
}
.nav_pc > section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5em;
}
.logo {
  font-size: 2em;
  font-weight: bolder;
  color: var(--blue);
}
/* .nav_pc ul a {
  color: #ffff;
} */
@media (min-width: 70em) {
  .nav_pc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 1em;
    min-width: 75em;
  }
  .nav_pc > section {
    padding: 0em;
  }


}
